---
---

@import "{{ site.theme }}";

/* bright green links */
a {
    color: #00dd00; !important
}

a:visited {
    color: #00bb00; !important
}

a:hover {
    color: #66ff66; !important
    text-shadow: 0 0 5px #009960; !important
}
